/*importing fonts*/

@font-face {
    font-family: portraitBold;
    src: url("fonts/EksellDisplay-Large.otf");
}

@font-face {
    font-family: maisonNeue;
    src: url("fonts/MaisonNeue-Light.ttf");
}


body {
    background-color: #AE594E;
}

.col {
    margin: .5em;
}

/*small columns for images.*/
.colsmall {
    margin: .1em;
}

#landingPage {
    padding-top: 18em;
}

/* Setting the headers */

h1 {
    font-family: portraitBold;
    color: #fff;
    font-size: 4em;
    
}

p {
    font-family: maisonNeue;
    color: #fff;
    font-size: .8em;
    width: 70%;
    
}

/*for hover labels for analog tools section*/
.colsmall p {
    display:block;
    color:#fff;
    opacity: 0;
    margin: auto;
    margin-top: 1em;
    color:#fff;
    border: 1px solid #fff;
    padding: 2px 2px 2px 2px;
    text-align: center;
}

.colsmall:hover p {
    opacity: 1;
    
}

button {
    padding: 4px 12px 4px 12px;
    margin: auto ;
    margin-left: 3em;
    background: none;
    display: inline-block;
    text-align:center;
    font-family: portraitBold;
    font-size: 22px;
    border: 2px solid #00ff00;
    color: #00ff00;
}


#active {
    width: 14px;
    height: 14px;
    background: rgba(255,255,255,1);
    transition: all .2s ease;  
}

    


    

/*define each container section*/

    .section1 {
        padding-top: 18em;
        position:fixed;
        top:0;
        left:0;
        width: 100vw;
        height:100vh;
        background:transparent center no-repeat;
        background-size:cover;
        background-color: hsl(251, 100%, 50%);
        background-color: hsl(251, 100%, 50%);
        cursor: crosshair;

    }


    #section2 {
        padding-top: 18em;
        position:fixed;
        top:0;
        left:0;
        width: 100vw;
        height:100vh;
        background:transparent center no-repeat;
        background-size:cover;
        background-color: hsl(251, 100%, 50%);
        background-blend-mode: multiply;
        background:#AE594E;
        background-image: url(img/a.png);
        overflow:hidden;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: crosshair;
    }

    #section25 {
        padding-top: 10em;
        position:fixed;
        top:0;
        left:0;
        width: 100vw;
        height:100vh;
        background:transparent center no-repeat;
        background-size:cover;
        background-color: #AE594E;
        cursor: crosshair;    
    }


    #section3 {
        padding-top: 18em;
        position:fixed;
        top:0;
        left:0;
        width: 100vw;
        height:100vh;
        background:transparent center no-repeat;
        background-size:cover;
        background-color: hsl(251, 100%, 50%);
        background-blend-mode: multiply;
        background:#000000;
        overflow:hidden;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: crosshair;
        

    }


    #section4 {
        position:fixed;
        top:0;
        left:0;
       width: 100vw;
        height:100vh;
        background:transparent center no-repeat;
        background-size:cover;
        background-color: hsl(251, 100%, 50%);
        background-blend-mode: multiply;
        background:#000;
        overflow:hidden;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: crosshair;

    }

      #section5 {

        padding-left: 2em;


        padding-top:10em;
        position:fixed;
        top:0;
        left:0;
        width: 100vw;
        height:100vh;
        background:transparent center no-repeat;
        background:#292929;
        overflow:hidden;
        background-size: cover;
        cursor: crosshair;

    }

/*dotstyle css adapted from 
https://github.com/codrops/DotNavigationStyles*/
  
.dotstyle {

    top: 18vh;
    position: fixed;
    right: 0%;
    display: block;
    margin-right: 3em;
    margin-left: 3em;
    z-index:10;


}

.dotstyle ul {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dotstyle li {

    position: relative;
    display: block;
    float: left;
    margin: 0 16px;
    margin: 4em 0 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    text-indent: -999em; /* make the text accessible to screen readers */
    cursor: pointer;
    position: absolute;
}

.dotstyle li a:focus {
    outline: none;
}


.dotstyle:nth-child(4n),
.dotstyle:nth-child(4n-3) {
    background-color: rgba(0, 0, 0, 0.05);
}


/* Scale up */

.dotstyle-scaleup li a {
    -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.dotstyle-scaleup li a:hover,
.dotstyle-scaleup li a:focus {
    background-color: white;
}

.dotstyle-scaleup li.current a {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.inactive {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    text-indent: -999em; /* make the text accessible to screen readers */
    cursor: pointer;
    position: absolute;
}



/******tool image styling******/

#img1-alt {
    width: 90%;
    mix-blend-mode: multiply; 
    margin-top: -5em;
}


#img1 {
    width: 80%;
    mix-blend-mode: multiply; 
    margin-top: -5em;
}

#img2 {
    width: 100%;
    mix-blend-mode: multiply; 

}
#img3 {
    width: 120%;
    mix-blend-mode: multiply; 
    margin-top: -3em;

}
#img4 {
    width: 90%;
    mix-blend-mode: multiply; 

}
#img5 {
    width: 90%;
    mix-blend-mode: multiply; 

}
#img6 {
    width: 90%;
    mix-blend-mode: multiply; 

}
#img7 {
    width: 90%;
    mix-blend-mode: multiply; 
    margin-top: -2em;
}


#img9 {
    width: 100%;
    mix-blend-mode: multiply; 
    margin-top: -5em;

}

#row3 {
    position: relative;
}

.drawing {
    width: 100vw;
    height: 100vh;
    position:fixed;

}

/*row containing buttons*/
#buttonrow {
    padding-top: 2em;
}

/*h2 class for transition text*/
.transition {
    padding: 4px 12px 4px 12px;
    margin: auto ;
    background: none;
    display: inline-block;
    text-align:center;
    font-family: portraitBold;
    font-size: 22px;
    color: #00ff00;

}

/******computer artifact styling******/

#artifact1 {
    width: 80%;
}

#artifact2 {
    width: 50%;
}


#artifact3 {
    width: 50%;
}

#artifact4 {
    width: 40%;  
}

#artifact5 {
    width: 60%;
}

#artifact6 {
    width: 70%; 
  
}

#artifact7 {
    width: 50%;   
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
/*adjustments for mobile*/
@media only screen and (max-width: 480px) {

/*    Making the P back to full width once the screen is small*/
    p {
        width: 85%;
        margin-right: 1em;
        }
    
    .colsmall:hover p {
        margin-top: 1em;
        display:block;
        padding: 10px 20px 10px 10px;
        text-align: center;
    }
    
    button {
        margin: auto ;
        margin-left: -1em;
        font-size: 20px;

    }
/*    center winking girl*/
    .drawing {
        margin-top: 30vh;
        margin-left: -1em;
    }
 }

